<img class="image-large double-padding" src="../images/table.jpg">
 <table>
  <colgroup>
    <col span="3" style="background:#0D6CBD">
    <col style="background-color:#0D6CBD">
      
  </colgroup>
  <tr>
    <th>Номер</th>
    <th>Слово</th>
    <th>Переклад</th>
    <th>Статус</th>
  </tr>
  <tr>
    <td>1</td>
    <td>embarrassment</td>
    <td>Збентеження</td>
    <td>Вивчено</td>
  </tr>
  <tr>
    <td>2</td>
    <td>fascinating</td>
    <td>Захоплюючий</td>
    <td>Не вивчено</td>
  </tr>
         <tr>
    <td>3</td>
    <td>garbage</td>
    <td>Сміття</td>
    <td>Вивчено</td>
  </tr>
         <tr>
    <td>4</td>
    <td>stunned</td>
    <td>Приголомшений</td>
    <td>Не вивчено</td>
  </tr>
         <tr>
    <td>5</td>
    <td>raw</td>
    <td>Сирий</td>
    <td>Не вивчено</td>
  </tr>
</table>

