<p><span class="text-bold">Основна мета проєкту</span> - створити веб застосунок "Dictionary", за допомогою якого користувачі зможуть вивчати іншомовні слова. Розробка front-end частини буде проводиться з викоистанням бібліотеки React.
Beck-end на Node.js.</p>

<p><span class='text-bold'>Вимоги до Web-застосунка:</span></p>
<ul>
<li>Авторизація</li>
<li>CRUD операції зі словами та словниками</li>
<li>Переглад словників та їх вміст незареєстрованими та зареєстрованими користувачами</li>
<li>Різноманітні квізи та механізми які допоможуть вивчити слова</li>
</ul>
