<table  align="center";style="border: 2px solid black;" >
    <tr>
        <td colspan="3" style="background-color: blue; height: 60px; padding: 20px;text-align: left; font-size: 24px; color: white; border: 2px solid black;">1</td>
    </tr>
    <td style="background-color: yellow; width: 120px; height: 460px; padding: 15px; text-align: center; font-size: 24px; border: 2px solid black;">5</td>
    <td style="background-color: white; padding: 15px; text-align: center; font-size: 24px; border: 2px solid black;">4</td>
    <td style="background-color: yellow; width: 120px; height: 460px; padding: 15px; text-align: center; font-size: 24px;border: 2px solid black;">2</td>
    <tr>
        <td colspan="3" style="background-color: blue; padding: 20px; text-align: left; font-size: 24px; color: white; border: 2px solid black;">3</td>
    </tr>
    <table>