.navigation {
    &__container {
        padding: 0 0 50px 0;
        display: flex;
        justify-content: center;
    }

    &__items {
        display: flex;
    }

    &__item {
        padding: 0 20px 0 20px;
    }

    &__button {
    }

    &__link {
        color: #0d6cbd;
        text-decoration: none;
    }
}
