<p style="font-size: 24px;"><span class="text-bold">Сусідні селектори</span></p>
   <p>
    Студенти<b>
    Навчаються</b>
    на кафедрі<i>
    Інформаційних систем та технологій в КПІ.</i>
    </p>
    <style>
        b+i {color: red; }
       </style>
       &lt;style&gt;</br>
        b+i {color: red; }</br>
        &lt;/style&gt;

<p style="font-size: 24px;"><span class="text-bold">Дочірні та контекстні селектори</span></p>
<style>
    div I { /* Контекстний селектор */ color: green; } P>
    I { /* Дочірній селектор */ color: red;} </style>
    <i>
        Lorem ipsum dolor sit amet </i > , consectetuer adipiscing elit, sed diem nonummy nibh euismod tincidunt ut lacreet <i>
        dolore magna </i>
        aliguam erat volutpat. </p>
        &lt;style&gt;</br>
            div I { /* Контекстний селектор */ color: green; } P></br>
            I { /* Дочірній селектор */ color: red;}</br>
            &lt;/style&gt;