<p>Під час розбору документа HTML-парсер передає управління JavaScript-інтерпретатору після того,</p>
<p>як зустріне тег початку контейнера &lt;script&gt;. Інтерпретатор отримує на виконання весь фрагмент коду</p>
<p>всередині контейнера SCRIPT і повертає управляння HTML-парсеру для оброблення тексту сторінки після тегу</p>
<p>кінця контейнера &lt;/script&gt. Поміщати JavaScript-код на HTML-сторінці за допомогою контейнера</p>
<p>&lt;script&gt; можна двома способами. Перший полягає в написанні тексту коду безпосередньо всередині цього контейнера</p>
<img src="../images/example4.jpg">
<p>Другий спосіб полягає в тому , щоб внести код JavaScript в окремий файл ,наприклад myscript.js (розширення може бути будь-яким),</p>
<p>і потім включити його в HTML-сторінку , як показано нижче. Цей спосіб зручний, коли один тот скрипт планується</p>
<p>використовувати на різних HTML-сторінках.</p>
<img src="../images/example5.jpg">