<p>Основним завданням мови програмування гіпертекстової системи є програмування гіпертекстових переходів.</p>
<p>Це означає, що при виборі того або іншого гіпертекстового посилання викликається програма реалізації</p>
<p>гіпертекстового переходу. У Web-технології стандартною програмою, створеною при гіпертекстовому переході,</p>
<p>є програма завантаження сторінки (тобто при кліку за посиланням завантажується сторінка з зазначеним URL).</p>
<p>JavaScript дозволяє змінити стандартну програму на програму користувача. Для того щоб відрізнити стандартний</p>
<p>перехід за протоколом HTTP від переходу, програмованого на JavaScript. розробники мови ввели нову схему URL -</p>
<p>JavaScript. Приклад застосування даної схеми наведено нижче:</p>
<img src="../images/example.jpg">